<div class="p-1 mb-12 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{ site.meta.title }}</h1>
        <p class="col-md-12 fs-12">{{ site.meta.description }}</p>
    </div>
</div>