<div class="hero">
    <h1>{{ title }}</h1>
    <p class="hero__description">
        Ochelari de vedere, ochelari de soare, accesorii, lentile de contact! Toate la Optica Medicală ArtlensOptic Brăila
    </p>
</div>