<nav class="navbar navbar-expand-lg bg-info bg-opacity-25 shadow-sm" aria-label="ArtlensOptic navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#artlensnavigation" aria-controls="artlensnavigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" alt="{{ site.meta.title }}" title="{{ site.meta.title }}"></a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="artlensnavigation">
      <div class="offcanvas-header">
        <img src="/static/img/logo.png" alt="{{ site.meta.title }}" title="{{ site.meta.title }}">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="/"><svg class="bi" width="16" height="16"><use xlink:href="#home"></use></svg> Acasă</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><svg class="bi" width="16" height="16"><use xlink:href="#ochelari"></use></svg> Ochelari</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/ochelari-de-vedere/"><svg class="bi" width="24" height="24"><use xlink:href="#eyeglasses"></use></svg> Ochelari de vedere</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/ochelari-de-soare/"><svg class="bi" width="24" height="24"><use xlink:href="#sunglasses"></use></svg> Ochelari de soare</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/"><svg class="bi" width="16" height="16"><use xlink:href="#contact"></use></svg> Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="dark-toggle">
      <img src="/static/img/moon.svg" alt="Toogle dark theme" title="Toogle dark theme">
    </div>
  </div>
</nav>