<div class="pagination"></div>
{% if pagination.href.previous %}
<a href="{{pagination.href.previous | url}}">&laquo; Pagina anterioara</a>
{% endif %}
{% if pagination.href.next %}
&nbsp;<a href="{{pagination.href.next | url}}">Pagina urmatoare &raquo;</a>
{% endif %}
</div>