{%- if pagination.pageNumber != 0 %} - Page {{ pagination.pageNumber +1 }}{% endif %}<br /><br />
{% for post in pagination.items %}
<a href="{{ post.url }}"><h2>{{ post.data.title }}</h2></a>
{{ post.templateContent | striptags | truncate(332, true) }}
{% endfor %}