<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Optician",
        "name": "ArtlensOptic",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Scolilor 47 Bl. A28",
            "addressLocality": "Braila",
            "addressRegion": "Braila",
            "postalCode": "810224",
            "addressCountry": "Romania"
        },
        "keywords" : "ochelari, lentile de contact, ochelari de vedere, ochelari de soare, braila, optica, optica medicala, artlenoptic",
        "image": "https://artlensoptic.ro/static/img/artlensoptic.jpg",
        "photo": "https://artlensoptic.ro/static/img/artlensoptic.jpg",
        "telePhone": "+40771140396",
        "url": "https://artlensoptic.ro",
        "paymentAccepted": [ "cash", "credit card" ],
        "openingHours": "Mo,Tu,We,Th,Fr 09:00-18:00",
        "openingHoursSpecification": [ {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
            ],
            "opens": "09:00",
            "closes": "18:00"
        } ],
        "priceRange":"$$$$"
    
    }
    </script>
    