---
eleventyComputed:
  title: "Optica Medicală ArtLensOptic Brăila {% if pagination.pageNumber > 0 %}Page {{ pagination.pageNumber + 1 }}{% endif %}"
layout: base
permalink: /{% if pagination.pageNumber > 0 %}pagina-{{ pagination.pageNumber + 1 }}/{% endif %}
description: Ochelari de vedere, ochelari de soare, accesorii, lentile de contact toate la Optica Medicală ArtlensOptic Brăila
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
eleventyNavigation:
  key: Acasă
  order: 1
date: "2023-05-21"
---
{% include "components/hero.njk" %}
{% include "components/postslists.njk" %}
{% include "components/pagination.njk" %}
{% include "components/schema.njk" %}